aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
click
colorama
deprecation
fastapi
frozenlist
gotrue
h11
h2
hpack
httpcore
httpx
hyperframe
idna
multidict
packaging
postgrest
propcache
pydantic
PyJWT
python-dateutil
python-dotenv
realtime
six
sniffio
starlette
storage3
supabase
supafunc
typing_extensions
uvicorn
websockets
yarl
